body{
    font-family: "Montserrat", sans-serif;
    background-color: #F5F7FA;
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: white;
    margin: 40px auto;
    box-shadow: 15px 15px 25px gray;
}
.main-container h1{
    font-size: 45px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}
.about-me-container{
    padding-top: 102px;
    padding-left: 88px;
    padding-bottom: 100px;
}
.about-me-container h3{
    font-size: 22px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}
.about-me-section{
     width: 400px;
}
.about-me-section h2{
    font-size: 14px;
    font-weight: 700;
}
.about-me-section p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.my-projects ol{
    margin-top: 0px;
    margin-left: -20px;
}
.my-projects li::marker{
    margin-left: 0;
    font-weight: 700;
}
.my-projects a{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.my-projects .bracket{
    color:black;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}
.my-projects span{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.my-work-eperience ul{
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: -22px;
}
.my-work-eperience li{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.job-history{
    margin-top: 10px;
    margin-bottom: 10px;
}
.job-history span{
    color: #FB6D3A;
}
.divider{
    color:black;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.Company-2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Company-2 span{
    color: #FB6D3A;
}
.Company-1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Company-1 span{
    color: #FB6D3A;
}
.my-education{
    margin-top: 45px;
    margin-bottom: 0px;
}
.my-education h4{
    color: #FB6D3A;
    margin-bottom: -10px;
    margin-top: 10px;
}
.my-education h5{
    margin-bottom: 0;
}
.date{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #A8A8A8;
}
.sidebar-section{
    width: 370px;
    background-color: #1E2939;
}
.sidebar-section img{
    margin-top: 40px;
}
.sidebar-section h3{
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.contacts{
    padding-top: 50px;
    margin-left: 40px;
    color: white;
}
.contacts a{
    color: #565F6B;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 400;
}
.contacts span{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.skills{
    margin-top: 44px;
    margin-left: 40px;
    color: white;
}
.skills li{
    margin-left: -25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.skills li::marker{
    color:#FB6D3A;
}